.arrow-close {
    transform: rotate(90deg);
    position: relative;
    float: right;
}
.arrow {
    transition-duration: 0.1s;
    transition-property: transform;
}
.arrow-down {
    transform: rotate(90deg);
}
.arrow-left {
    transform: rotate(180deg);
}
.arrow-up {
    transform: rotate(270deg);
}

.arrow-open {
    float: right;
    transform: rotate(0deg);
}